<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Freelancer - Start Bootstrap Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="../assets/freelancer.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../assets/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" class="show">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">Hog Traffic Statistics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Traffic Charts</a>
        </li>
        <li class="page-scroll">
          <a href="#about">Hog</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Keyw Corporation</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="../assets/hog.png" class="img-responsive" alt="" height="250" width="250">
        <div class="intro-text">
          <span class="name">Hog</span>
          <hr class="star-light">
          <span class="skills">User Friendly - Apache Pig - Cloud Development</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Traffic Charts</h2>
        <hr class="star-primary">
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 portfolio-item">

        <div class="caption">
          <div class="caption-content">
            <div style="text-align: center;"><h3>Referrers</h3></div>

          </div>
        </div>
        <div style="text-align: left;"><div id="mythirdchart" style="height: 400px;"></div></div>

      </div>
      <div class="col-sm-4 portfolio-item">

        <div class="caption">
          <div class="caption-content">

          </div>
        </div>

      </div>

      <div class="col-sm-4 portfolio-item">

        <div class="caption">
          <div class="caption-content">
            <div style="text-align: center;"><h3>Popular Paths</h3></div>

          </div>
        </div>
        <div style="text-align: right;"><div id="myforthchart" style="height: 400px;"></div></div>

      </div>

    </div>
    <br>

    <div class="row">
      <div class="caption">
        <div class="caption-content">
          <div style="text-align: center;"><h3>Views</h3></div>
          <br>
          <div style="text-align: center;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-secondary" href="../charts/weekView">1 Week</a>
              <a class="btn btn-secondary" href="../charts/monthView">1 Month</a>
              <a class="btn btn-secondary" href="../charts/threeMonthView">3 Months</a>
              <a class="btn btn-secondary" href="../charts/sixMonthView">6 Months</a>
            </div></div>
        </div>
      </div>
      <div style="text-align: center;"><div id="myfirstchart" style="height: 500px;"></div></div>
    </div>
    <br><br>
    <div class="row">
      <div class="caption">
        <div class="caption-content">
          <div style="text-align: center;"><h3>Clones</h3></div>
          <br>
          <div style="text-align: center;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-secondary" href="../charts/weekClones">1 Week</a>
              <a class="btn btn-secondary" href="../charts/monthClones">1 Month</a>
              <a class="btn btn-secondary" href="../charts/threeMonthClones">3 Months</a>
              <a class="btn btn-secondary" href="../charts/sixMonthClones">6 Months</a>
            </div></div>
        </div>
      </div>
      <div style="text-align: center;"><div id="mysecondchart" style="height: 500px;"></div></div>
    </div>


  </div>
</section>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hog</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Hog is an interactive development environment that was created to assist analysts and developers with Apache Pig script creation requiring minimal knowledge of the language. The web application that was constructed provides a resource for script generation, analyzing output as well as archiving scripts. Using the Simple environment, users have drag and drop capabilities to generate scripts. The Complex side of the application provides a development environment that lets developers create,save and analyze output of their scripts.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/KeyWCorp/hog" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Visit Github
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Keyw Corporation</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>KeyW is passionate about securing our nation and its allies. Our advanced engineering and technology
          solutions support the collection, processing, analysis and dissemination of information across the
          full spectrum of the Intelligence, Cyber and Counterterrorism communities’ missions.</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>7740 Milestone Parkway, Suite 150
            <br>Hanover, MD 21076</p>
        </div>

        <div class="footer-col col-md-4">
          <h3>Keyw Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/KEYWCorporation/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/u/0/110022374034926190782" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/keywcorp?ref_src=twsrc%5Etfw" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/keyw-corporation" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Hog Traffic Statistics 2016
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery -->
<script src="../assets/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../assets/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="../assets/freelancer.min.js"></script>

<script>
    new Morris.Area({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',

        data: [

            <% @monthChart.each do | data| %>

            { y: "<%= data[0] %>", b:<%= data[2] %>,a: <%= data[1] %>},
            <% end %>

        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'y',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['b', 'a' ],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Unique','Count']
    });
</script>

<script>
    new Morris.Area({
        // ID of the element in which to draw the chart.
        element: 'mysecondchart',

        data: [
            <% Clone.all.each do | clone | %>
            { y: "<%= clone.full_date %>",  b:<%= clone.clone_unique %> ,a: <%= clone.clone_count %>  },
            <% end %>
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'y',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['b', 'a' ],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Unique','Count']
    });
</script>
<script>
    Morris.Donut({

        element: 'mythirdchart',
        data: [
            <% @sumReferrer.each do | referrer | %>
            {label:"<%= referrer[0] %>", value: <%= referrer[1] %>  },
            <% end %>
        ]
    });
</script>
<script>
    Morris.Donut({
        element: 'myforthchart',
        data: [
            <% @sumPath.each do | path | %>
            {label:"<%= path[0] %>", value: <%= path[1] %>  },
            <% end %>
        ]
    });
</script>



</body>



</html>
